.intro {
    background-color: #E6E6E6;
}

.table-receitas {
    background-color: #FFFFFF;
    border-radius: 20px;
}

th, td {
    border: 1px solid #CCC;
    padding: 10px
}

span{
    width: 25%;
    height: 16rem;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span h4{
    margin: 10px;
}

span img{
    width: 100px;
    margin-top: 20px;
}

span:hover img{
    width: 120px;
}

span:hover{
    background-color: #2224;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .intro-header{
        flex-direction: column;
        text-align: center;
        margin: 0 !important;
    }
    
    .intro-header table{
        margin: 20px 0 0 0 !important;
    }

    .cards{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    span{
        width: 70%;
    }
}