.intro {
    background-color: #E6E6E6;
}

.table-receitas {
    background-color: #FFFFFF;
    border-radius: 20px;
}

th, td {
    border: 1px solid #CCC;
    padding: 10px
}

span{
    width: 25%;
    height: 16rem;
    padding: 40px;
    border-radius: 10px;
}

span h4{
    margin: 10px;
}

span img{
    width: 100px;
    margin-top: 20px;
}

span:hover img{
    width: 120px;
}

span:hover{
    background-color: #2224;
}